.lg-social-media-cont{
	.lg-social-media{
		padding: 0;
	    margin: 0;
	    list-style: none;
	    display: flex;

	    li{
	    	margin-right: 15px;

		    &:last-child{
		    	margin-right: 0;
		    }
	    	a{
			    display: flex;
			    text-align: center;
			    justify-content: center;
			    align-items: center;

	    		i{
					color: theme-color('dark');
					font-size: 23px;
	    		}
	    	}
	    }
	}
}

.lg-collapse{
	.collapse-item{
		>h2{
			font-size: 1rem !important;
		}
	}
}

.feature-slider-wrap{
	position: relative;
	min-height: 400px;
	.feature-slider{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		margin-bottom: 0;
		.slick-list{
			height: 100% !important;
			.slick-track{
				height: 100% !important;
				.slick-slide{
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}

		.slick-dots{
			bottom: 10px;

			button:before{
				color: #fff;
				font-size: 15px;
				opacity: 1;
			}
		}
	}
}

.overlay_wrap{
	z-index: 2;
	position: relative;
	.overlay{
		display: flex;
		justify-content: flex-end;
		.gform_wrapper{
			background-color: theme-color('secondary');
			max-width: 350px;
			padding: 10px $spacer * 1.2;
		}
	}
}

.feature-image-default{
	width: 100%;
	position: relative;
	min-height: 250px;
	img{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.gallery-grid{
	display: flex;
	flex-wrap: wrap;
	.grid-item{
		width: 100%;
		padding: 7.5px;
		height: 200px;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include media-breakpoint-up(sm){
			width: 50%;
		}
		@include media-breakpoint-up(md){
			width: 33.33%;
		}
		@include media-breakpoint-up(lg){
			width: 25%;
		}
	}
}

.lightbox{
	top: 50% !important;
    transform: translateY(-50%);
}

#menu-footer-menu{
	list-style: none;
}

/*this fixes the lazy load bug*/
.embed-responsive-16by9:before {
	padding-top: 0;
}