.gform_wrapper{
	max-width: 350px !important;
	input, select, textarea, input[type=submit]{
		width: 304px !important;
	}
	label{
		display: none !important;
	}
	input[type=submit]{
		@extend .btn, .btn-primary;
		@extend .h4;
	}
	.gform_footer{
		margin-top: 0;
	}
	.gfield {
		padding-right: 0px !important;
	}
}

.gform_footer {
	padding-top: 0px !important;
	//margin-top: 24px !important; 
}

#field_1_5 {
	padding-top: 0px;
	margin-top: 7px;
} 