#site-header{
	#main-navbar{
		.dropdown-menu{
			margin: 0;
		}
		li {
			padding-right: 20px;
		}
	}
}

@include media-breakpoint-down(md){
	.dropdown-menu{
		background-color: transparent;
		border-bottom: 1px solid #ababab;
	}

}

@include media-breakpoint-up(md) {
	#site-header{
		#main-navbar{
			li{
				padding-right:3px;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	#site-header{
		#main-navbar{
			li{
				padding-right:6px;
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	#site-header{
		#main-navbar{
			li{
				padding-right:20px;
			}
		}
	}
}