// ---- CTA
.img-full{
	width:100%;
	display:block;
	height: auto;
}

.img-fit{
	width: 100%;
	height: 100% !important;
	object-fit: cover;
}

.img-fit-top-left{
	object-position: 0 0;
}

.img-fit-top-center{
	object-position: 50% 0;
}

.img-fit-top-right{
	object-position: 100% 0;
}

.img-fit-bottom-left{
	object-position: 0 100%;
}

.img-fit-bottom-center{
	object-position: 50% 100%;
}

.img-fit-bottom-right{
	object-position: 100% 100%;
}

// Pattern
.bg-image{ 
	// @include myoutline(red);
	position: relative;
	background-repeat     : no-repeat;
	background-position   : center center;
	background-size       : cover; 
}

.btn-white{
	background-color: #fff;
	color: $primary;

	&:hover{
		background-color: $secondary;
		color: #fff;
	}
}

.border-box{
	padding: 30px 15px;
	background-color: rgba(theme-color('dark'), .6);
}