$site-footer-bg-color:			theme-color('white');
$site-footer-color:				#fff;

//Site Legal
$site-legal-bg-color: 			theme-color('white');
$site-legal-color:				theme-color('dark');
$site-legal-link-color:			theme-color('dark');
$site-legal-font-size: (
  xs: 16px,
  sm: 16px,
  md: 16px,
  lg: 17px,
  xl: 17px
);

// Site Footer 
#site-footer{

	// Main Content Area
	#site-footer-main{
		width: 100%;
		background-color: $site-footer-bg-color;
		color: $site-footer-color;
		.site-footer-alpha{
			img{
				width: 100%;
				max-width: 285px;
			}
			@include media-breakpoint-down(xl) {
				img {
					max-width: 175px;
				}
			}
		}
		.site-footer-bravo{
			ul.menu{
				display: flex;
				flex-wrap: wrap;
				padding: 0;
				@extend .justify-content-center;
				@extend .justify-content-lg-start;
				li{
					a{
						padding: 5px 15px;
						@extend .h5;
						color: theme-color('dark');
						@include media-breakpoint-up(lg) {
							font-size:.86rem;
						}
						
						@include media-breakpoint-up(xl) {
							font-size: 1.0rem;
						}
					}

				}
			}
		}
		.site-footer-charlie{
			.lg-social-media{
				@extend .justify-content-center;
				@extend .justify-content-lg-start;
			}
			a:not(.phone){
				@extend .h5;
				color: theme-color('dark');
			}
		}
	}


	// The tiny site legal footer area.
	#site-legal{
		width: 100%;
		background-color: $site-legal-bg-color;
		color: $site-legal-color;
		@include font-size($fs-map: $site-legal-font-size, $fs-breakpoints: $grid-breakpoints);
		text-transform: uppercase;

		a{ color: $site-legal-link-color; }

		.site-info{
			width: susy-span(12);
			text-align: center;
			margin-bottom: gutter();

			@include media-breakpoint-up(sm){
				width: susy-span(6);
				text-align: left;
				margin: 0;
			}
		}

		.site-longevity{
			width: susy-span(12);
			text-align: center;



			@include media-breakpoint-up(sm){
				width: susy-span(6);
				text-align: right;
			}
		}
	}

	.widget{
		margin-bottom: 0;
	}

}