
/* ------------------------------------------------------------------ */

//Utility Bar

$utility-bar-font-size:						(
											  xs: 15px,
											  sm: 15px,
											  md: 15px,
											  lg: 15px,
											  xl: 15px
											);
$utility-bar-background-color:				theme-color('primary');
$utility-bar-color:							theme-color('white');
$utility-bar-padding:						$spacer * .5 0;

$utility-bar-icon-color:					theme-color('secondary');
$utility-bar-icon-size:						15px;

/* Header */

$header-background-color:					#fff;
$header-box-shadow:							none;

$header-logo-width: 						150px;
$header-logo-width-sm: 						180px;
$header-logo-width-md: 						230px;

$mobile-toggle-size: 						25px;
$header-padding:							$spacer * .5 0;

/* ------------------------------------------------------------------ */

#site-header{
	box-shadow: $header-box-shadow;

	&.sticky-header{
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: $zindex-sticky;
		display: none;
	}

	.mobile-toggle{
		font-size: $mobile-toggle-size;
		cursor: pointer;
	}

	.utility-bar{

		@include font-size($fs-map: $utility-bar-font-size, $fs-breakpoints: $grid-breakpoints);
		background-color: $utility-bar-background-color;
		color: $utility-bar-color;
		padding: $utility-bar-padding;

		>div{
			.left, .right{
				display:flex;
				align-items:center;
			}
		}

		a{
			color: $utility-bar-color;
		}

		i{
			color: $utility-bar-icon-color;
			font-size: $utility-bar-icon-size;
		}
	}

	.header-main{
		padding: $header-padding;
		background-color: $header-background-color;
		
		.site-branding{
			.logo{
				width: $header-logo-width;

				@include media-breakpoint-up(sm){
					width: $header-logo-width-sm;
				}

				@include media-breakpoint-up(md){
					width: $header-logo-width-md;
				}

				img{
					@extend .img-full;
				}
			}
		}

		.main-navigation{
			background-color: $navbar-default-bg;
			.navbar-nav{
				a{
					@include font-size($fs-map: $navbar-font-sizes, $fs-breakpoints: $grid-breakpoints);
					color: $navbar-font-color;
					opacity: $navbar-font-opacity;
					text-transform: $navbar-text-format;
				}
			}
			.nav-link{
				font-family: $secondary-font-family;
			}
		}

		@include media-breakpoint-down(sm){

			&{
				padding: 0;
				>.container{
					padding:0;

					.site-branding{
						display:flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						padding-left: 15px;
						padding-right: 15px;
					}
					.main-navigation{
						width:100%;
						background-color: $navbar-bg-color-xs;

						.navbar{
							border: 0;

						    .navbar-collapse{
						    	margin:0;
						    	overflow:hidden;

						    	a{
						    		color: $navbar-font-color-xs;
						    		opacity: $navbar-font-opacity-xs;
						    		text-transform: $navbar-text-format-xs;
						    	}
						    }

						    .navbar-nav{
						    	>li{
						    		>a{
						    			padding: $spacer/1.2 $spacer;
						    			border-bottom: 1px solid #ababab;
						    		}

					    			&:last-child{
					    				>a{
					    					border-bottom: 0;
					    				}
					    			}
						    	}
						    }
						}
					}
				}
			}
		}
	}
}